html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }

  .controler{
    position: absolute;
    top : 42px;
    left: 240px;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    
  }